.search-container {
  position: relative;
  padding: 2rem 0;
}

.search-box {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 2rem;
  padding-left: 1rem;
}

.search-input {
  border: none;
  padding: none;
  outline: 0;
  background-color: transparent;
  word-wrap: break-word;
  flex-grow: 1;
  height: 2rem;
}

.search-container-btn {
  border-color: transparent;
  background-color: transparent;
  border: 0;
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
}

.result-container {
  display: none;
  border: 1px solid #dfe1e5;
  position: absolute;
  top: calc(100%);
  width: 100%;
  z-index: 2;
  background: white;
}

.result-cover {
  border-top: 1px solid #e8eaed;
  margin: 0 20px 0 14px;
  padding-bottom: 4px;
}

.result {
  background: transparent;
  height: 3rem;
  max-height: 3rem;
}
